<h1> Booking page </h1>

  <p2><%= @space.name %> </a> : <%= @space.description %> </p2>
  <p> <%= @space.price %> </p>

<form action='/listings/<%= @space.id %>/request_booking' method='post'>
  <input type='submit' value='Request booking'>
</form>

<br><br><br><br><br><br><br><br>
<br><br><br><br>