<h1> Welcome to Makers' Bnb </h1>

<form action='/users/new' method='post'>
  <input type='text' name='email' placeholder='Email address'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign up'>
</form>
