<h1> Maker's BnB </h1> <a href='/requests'>  My requests </a>

<ul>
  <% @spaces.each do |space| %>
    <h2> <%= space.name %>:   <%= space.description %> </h2>
    <p> <%= space.price %> </p>
  <% end %>
</ul>

<form action='/listings/new'>
  <input type='submit' value='Add Listing' >
</form>