<h1> Maker's BnB </h1>

<ul>
  <% @spaces.each do |space| %>
    <h2> <a href='/listings/<%= space.id %>'> <%= space.name %> </a> : <%= space.description %> </h2>
    <p> <%= space.price %> </p>
  <% end %>
</ul>

<form action='/listings/new'>
  <input type='submit' value='Add Listing' >
</form>
