<style>
body {background-color: lightblue;}
h1 {color: white;
  text-align: center;}
</style>

<h1> List a space </h1>

<form action='/listings/space_added' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type="text" name="description" placeholder="Description">
  <input type="number" name="price" placeholder="Price per night">
  <input type="submit" name="List my space" value="List my space">
</form>