<h1> Your requests </h1>

<br><br><br><br>

<% @spaces.each do |space| %>
  <div style="width:100%">
    <div style="display: inline-block"><%= space.name %></div>
    <form action="/requests/<%= space.id %>/approve" method="POST">>
      <div style="display: inline-block"><button type="submit" value='approve'>Approve</button></div>
    </form>
    <form action='/request/reject' method='post'>
      <div style="display: inline-block"><button type="submit" value='reject'>Reject</button></div>
    </form>
  </div>
<% end %>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>