<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css" />
  </head>
<body>

<h1> Please log in to access Makers Bnb </h1>

<form action='/users/verify' method='post'>
  <input type='text' name='email' placeholder='Email address'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Login'>
</form>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

</body>
</html>
